[Unit]
Description=newrelic-riak-agent

[Service]
Type=forking
User=newrelic
PIDFile=/var/run/newrelic/newrelic-riak-agent.pid
ExecStart=/opt/newrelic-riak-agent/riak_agent.rb
ExecStop=/bin/kill -INT $MAINPID
WorkingDirectory=/opt/newrelic-riak-agent

[Install]
WantedBy=multi-user.target
